:root {
  /* Main */
  --inherit: inherit;
  --transparent: transparent;
  --black-950: hsl(0%, 0%, 0%);
  --white-950: hsl(0%, 0%, 100%);

  /* Slate */
  --slate-50: hsl(210, 40%, 98%);
  --slate-100: hsl(210, 40%, 96.1%);
  --slate-200: hsl(214.29999999999995, 31.8%, 91.4%);
  --slate-300: hsl(216, 12.2%, 83.9%);
  --slate-400: hsl(215, 20.2%, 65.1%);
  --slate-500: hsl(215.39999999999998, 16.3%, 46.9%);
  --slate-600: hsl(215.29999999999995, 19.3%, 34.5%);
  --slate-700: hsl(215.29999999999995, 25%, 26.7%);
  --slate-800: hsl(217.20000000000005, 32.6%, 17.5%);
  --slate-900: hsl(222.20000000000005, 47.4%, 11.2%);
  --slate-950: hsl(228.60000000000002, 84%, 4.9%);
  /* Gray */
  --gray-50: hsl(210, 20%, 98%);
  --gray-100: hsl(220, 14.3%, 95.9%);
  --gray-200: hsl(220, 13%, 91%);
  --gray-300: hsl(216, 12.2%, 83.9%);
  --gray-400: hsl(217.89999999999998, 10.6%, 64.9%);
  --gray-500: hsl(220, 8.9%, 46.1%);
  --gray-600: hsl(215, 13.8%, 34.1%);
  --gray-700: hsl(216.89999999999998, 19.1%, 26.7%);
  --gray-800: hsl(215, 27.9%, 16.9%);
  --gray-900: hsl(220.89999999999998, 39.3%, 11%);
  --gray-950: hsl(224, 71.4%, 4.1%);
  /* Zinc */
  --zinc-50: hsl(0, 0%, 98%);
  --zinc-100: hsl(220, 14.3%, 95.9%);
  --zinc-200: hsl(240, 5.9%, 90%);
  --zinc-300: hsl(240, 4.9%, 83.9%);
  --zinc-400: hsl(240, 5%, 64.9%);
  --zinc-500: hsl(0, 0%, 45.1%);
  --zinc-600: hsl(240, 5.2%, 33.9%);
  --zinc-700: hsl(240, 5.3%, 26.1%);
  --zinc-800: hsl(240, 3.7%, 15.9%);
  --zinc-900: hsl(240, 5.9%, 10%);
  --zinc-950: hsl(240, 10%, 3.9%);
  /* Neutral */
  --neutral-50: hsl(0, 0%, 98%);
  --neutral-100: hsl(0, 0%, 96.1%);
  --neutral-200: hsl(0, 0%, 89.8%);
  --neutral-300: hsl(0, 0%, 83.1%);
  --neutral-400: hsl(0, 0%, 63.9%);
  --neutral-500: hsl(0, 0%, 45.1%);
  --neutral-600: hsl(0, 0%, 32.2%);
  --neutral-700: hsl(0, 0%, 25.1%);
  --neutral-800: hsl(0, 0%, 14.9%);
  --neutral-900: hsl(0, 0%, 9%);
  --neutral-950: hsl(0, 0%, 3.9%);
  /* Stone */
  --stone-50: hsl(60, 9.1%, 97.8%);
  --stone-100: hsl(60, 4.8%, 95.9%);
  --stone-200: hsl(20, 5.9%, 90%);
  --stone-300: hsl(24, 5.7%, 82.9%);
  --stone-400: hsl(24, 5.4%, 63.9%);
  --stone-500: hsl(25, 5.3%, 44.7%);
  --stone-600: hsl(33.30000000000001, 5.5%, 32.4%);
  --stone-700: hsl(30, 6.3%, 25.1%);
  --stone-800: hsl(12, 6.5%, 15.1%);
  --stone-900: hsl(24, 9.8%, 10%);
  --stone-950: hsl(20, 14.3%, 4.1%);
  /* Rose */
  --rose-50: hsl(355.70000000000005, 100%, 97.3%);
  --rose-100: hsl(355.6, 100%, 94.7%);
  --rose-200: hsl(352.70000000000005, 96.1%, 90%);
  --rose-300: hsl(352.6, 95.7%, 81.8%);
  --rose-400: hsl(351.29999999999995, 94.5%, 71.4%);
  --rose-500: hsl(349.70000000000005, 89.2%, 60.2%);
  --rose-600: hsl(346.79999999999995, 77.2%, 49.8%);
  --rose-700: hsl(345.29999999999995, 82.7%, 40.8%);
  --rose-800: hsl(343.4, 79.7%, 34.7%);
  --rose-900: hsl(341.5, 75.5%, 30.4%);
  --rose-950: hsl(343.1, 87.7%, 15.9%);
  /* Pink */
  --pink-50: hsl(332, 87%, 97%);
  --pink-100: hsl(334, 93%, 95%);
  --pink-200: hsl(332, 96%, 90%);
  --pink-300: hsl(334, 100%, 82%);
  --pink-400: hsl(335, 99%, 70%);
  --pink-500: hsl(336, 93%, 60%);
  --pink-600: hsl(340, 82%, 52%);
  --pink-700: hsl(341, 89%, 42%);
  --pink-800: hsl(342, 86%, 35%);
  --pink-900: hsl(342, 79%, 30%);
  --pink-950: hsl(343, 95%, 17%);
  /* Fuchsia */
  --fuchsia-50: hsl(289.1, 100%, 97.8%);
  --fuchsia-100: hsl(287, 100%, 95.5%);
  --fuchsia-200: hsl(288.29999999999995, 95.8%, 90.6%);
  --fuchsia-300: hsl(291.1, 93.1%, 82.9%);
  --fuchsia-400: hsl(292, 91.4%, 72.5%);
  --fuchsia-500: hsl(292.20000000000005, 84.1%, 60.6%);
  --fuchsia-600: hsl(293.4, 69.5%, 48.8%);
  --fuchsia-700: hsl(294.70000000000005, 72.4%, 39.8%);
  --fuchsia-800: hsl(295.4, 70.2%, 32.9%);
  --fuchsia-900: hsl(296.70000000000005, 63.6%, 28%);
  --fuchsia-950: hsl(296.79999999999995, 90.2%, 16.1%);
  /* Purple */
  --purple-50: hsl(249, 100%, 97%);
  --purple-100: hsl(254, 100%, 95%);
  --purple-200: hsl(253, 100%, 90%);
  --purple-300: hsl(256, 100%, 83%);
  --purple-400: hsl(258, 100%, 73%);
  --purple-500: hsl(262, 100%, 62%);
  --purple-600: hsl(265, 100%, 54%);
  --purple-700: hsl(265, 98%, 50%);
  --purple-800: hsl(265, 97%, 42%);
  --purple-900: hsl(265, 94%, 35%);
  --purple-950: hsl(262, 100%, 23%);
  /* cerise-red */
  --cerise-red-50: hsl(350, 86%, 97%);
  --cerise-red-100: hsl(352, 85%, 95%);
  --cerise-red-200: hsl(347, 84%, 90%);
  --cerise-red-300: hsl(348, 83%, 82%);
  --cerise-red-400: hsl(348, 82%, 71%);
  --cerise-red-500: hsl(346, 77%, 57%);
  --cerise-red-600: hsl(343, 67%, 50%);
  --cerise-red-700: hsl(342, 71%, 41%);
  --cerise-red-800: hsl(340, 68%, 35%);
  --cerise-red-900: hsl(338, 65%, 30%);
  --cerise-red-950: hsl(339, 75%, 16%);
  /* Jade */
  --jade-50: hsl(152, 88%, 97%);
  --jade-100: hsl(155, 95%, 93%);
  --jade-200: hsl(154, 87%, 85%);
  --jade-300: hsl(154, 84%, 73%);
  --jade-400: hsl(154, 76%, 58%);
  --jade-500: hsl(155, 77%, 45%);
  --jade-600: hsl(155, 84%, 36%);
  --jade-700: hsl(155, 79%, 29%);
  --jade-800: hsl(155, 71%, 24%);
  --jade-900: hsl(156, 67%, 20%);
  --jade-950: hsl(157, 88%, 10%);
  /* Mantis */
  --mantis-50: hsl(94, 41%, 97%);
  --mantis-100: hsl(100, 47%, 93%);
  --mantis-200: hsl(101, 45%, 85%);
  --mantis-300: hsl(102, 43%, 73%);
  --mantis-400: hsl(102, 39%, 58%);
  --mantis-500: hsl(102, 39%, 45%);
  --mantis-600: hsl(103, 43%, 36%);
  --mantis-700: hsl(103, 41%, 29%);
  --mantis-800: hsl(103, 37%, 24%);
  --mantis-900: hsl(105, 34%, 20%);
  --mantis-950: hsl(107, 45%, 10%);
  /* Cyan */
  --cyan-50: hsl(210, 88%, 97%);
  --cyan-100: hsl(211, 84%, 93%);
  --cyan-200: hsl(209, 85%, 87%);
  --cyan-300: hsl(208, 84%, 78%);
  --cyan-400: hsl(209, 80%, 68%);
  --cyan-500: hsl(213, 79%, 60%);
  --cyan-600: hsl(217, 71%, 53%);
  --cyan-700: hsl(220, 66%, 48%);
  --cyan-800: hsl(222, 61%, 40%);
  --cyan-900: hsl(220, 55%, 33%);
  --cyan-950: hsl(222, 49%, 22%);
  /* Violet */
  --violet-50: hsl(250, 100%, 98%);
  --violet-100: hsl(249, 91%, 95%);
  --violet-200: hsl(249, 95%, 92%);
  --violet-300: hsl(251, 95%, 85%);
  --violet-400: hsl(254, 92%, 76%);
  --violet-500: hsl(257, 89%, 66%);
  --violet-600: hsl(261, 83%, 58%);
  --violet-700: hsl(262, 70%, 50%);
  --violet-800: hsl(262, 69%, 42%);
  --violet-900: hsl(262, 67%, 35%);
  --violet-950: hsl(260, 73%, 23%);
  /* Orchid */
  --orchid-50: hsl(313, 60%, 97%);
  --orchid-100: hsl(313, 70%, 95%);
  --orchid-200: hsl(312, 77%, 90%);
  --orchid-300: hsl(314, 78%, 82%);
  --orchid-400: hsl(316, 77%, 70%);
  --orchid-500: hsl(317, 73%, 60%);
  --orchid-600: hsl(320, 64%, 51%);
  --orchid-700: hsl(322, 70%, 42%);
  --orchid-800: hsl(323, 67%, 35%);
  --orchid-900: hsl(323, 63%, 30%);
  --orchid-950: hsl(323, 75%, 17%);
  /* Teal */
  --teal-50: hsl(166, 76%, 97%);
  --teal-100: hsl(167, 89%, 89%);
  --teal-200: hsl(167, 88%, 72%);
  --teal-300: hsl(169, 80%, 64%);
  --teal-400: hsl(171, 69%, 50%);
  --teal-500: hsl(172, 84%, 40%);
  --teal-600: hsl(173, 88%, 32%);
  --teal-700: hsl(174, 80%, 26%);
  --teal-800: hsl(175, 73%, 22%);
  --teal-900: hsl(174, 63%, 19%);
  --teal-950: hsl(177, 88%, 10%);
  /* Biscay */
  --biscay-50: hsl(222, 63%, 97%);
  --biscay-100: hsl(222, 62%, 93%);
  --biscay-200: hsl(222, 60%, 87%);
  --biscay-300: hsl(219, 60%, 78%);
  --biscay-400: hsl(220, 60%, 68%);
  --biscay-500: hsl(225, 57%, 60%);
  --biscay-600: hsl(229, 52%, 53%);
  --biscay-700: hsl(232, 48%, 48%);
  --biscay-800: hsl(233, 44%, 40%);
  --biscay-900: hsl(232, 41%, 29%);
  --biscay-950: hsl(234, 36%, 21%);
  /* Yellow */
  --yellow-50: hsl(57, 83%, 95%);
  --yellow-100: hsl(55, 87%, 88%);
  --yellow-200: hsl(54, 88%, 77%);
  --yellow-300: hsl(52, 87%, 64%);
  --yellow-400: hsl(50, 85%, 54%);
  --yellow-500: hsl(47, 83%, 47%);
  --yellow-600: hsl(42, 85%, 40%);
  --yellow-700: hsl(37, 82%, 33%);
  --yellow-800: hsl(34, 73%, 29%);
  --yellow-900: hsl(30, 65%, 26%);
  --yellow-950: hsl(27, 75%, 14%);
  /* Lime */
  --lime-50: hsl(78, 92%, 95%);
  --lime-100: hsl(80, 89%, 89%);
  --lime-200: hsl(81, 87%, 80%);
  --lime-300: hsl(82, 83%, 67%);
  --lime-400: hsl(83, 77%, 55%);
  --lime-500: hsl(84, 80%, 44%);
  --lime-600: hsl(85, 84%, 35%);
  --lime-700: hsl(86, 77%, 27%);
  --lime-800: hsl(86, 67%, 23%);
  --lime-900: hsl(88, 61%, 20%);
  --lime-950: hsl(89, 80%, 10%);
  /* Orange */
  --orange-50: hsl(38, 100%, 96%);
  --orange-100: hsl(38, 100%, 91%);
  --orange-200: hsl(35, 100%, 83%);
  --orange-300: hsl(34, 100%, 71%);
  --orange-400: hsl(30, 100%, 60%);
  --orange-500: hsl(27, 100%, 52%);
  --orange-600: hsl(23, 99%, 48%);
  --orange-700: hsl(19, 97%, 40%);
  --orange-800: hsl(17, 87%, 34%);
  --orange-900: hsl(17, 82%, 28%);
  --orange-950: hsl(15, 89%, 15%);
}
